[tool.poetry]
name = "{{name}}"
version = "0.1.0"
description = ""
authors = ["{{author}}"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
pest-py = "^0.1.0"
uvicorn = "^0.25.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
